:root{
    --main-text-color: teal;
    --main-background-color: teal;
    --main-validation-color: red;
    --main-circle-radius: 100px;
}
*{
    box-sizing: border-box;
}
.material-input{
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    border-radius: 0!important;
}
.material-placeholder{
    position: absolute;
    top: 12px;
    left: 8px;
    transition: 0.3s;
    pointer-events: none;
}
.material-select{
    border: none !important;
    border-bottom: 1px solid gainsboro !important;
    border-radius: 0 !important;
    width: 70% !important;
    line-height: 30px !important;
    float: right !important;
}
.material-select:focus{
    outline: none!important;
    border-bottom: 1px solid var(--main-text-color) !important;
    box-shadow: none !important;
    transition: 0.3s !important;
}
.material-input:focus ~ .material-placeholder,
.material-input:not(:focus):valid ~ .material-placeholder{
    top: -10px;
    left: 2px;
    font-size: 12px;
    transition: 0.3s;
    color: var(--main-text-color);
}
.material-input:focus{
    outline: none !important;
    border-bottom: 1px solid var(--main-text-color) !important;
    box-shadow: none !important;
    transition: 0.3s !important;
}
.material-checkbox{
    display: none;
    vertical-align: middle;
}
.material-checkbox + label:before{
    content: "\2713";
    border: 1px solid black;
    border-radius: 3px;
    color: transparent;
    padding-left: 3px;
    padding-right: 3px;
    animation-name: checkout;
    animation-duration: 0.7s;
    vertical-align: middle;
    margin-right: 10px;
}
@keyframes checkout{
    15% {font-size: 0}
    50% {font-size: 20px}
    75% {font-size: 14px}
    85% {font-size: 17px}
    100% {font-size: 16px}
}
.material-checkbox:checked + label:before{
    color:white;
    background-color: var(--main-background-color);
    border: 1px solid var(--main-text-color);
    animation-name:checkin;
    animation-duration: 0.7s;
    text-align: center;
}
.material-checkbox + label{
    line-height: 40px;
    cursor: pointer;
}
@keyframes checkin{
    15% {font-size: 0}
    50% {font-size: 20px}
    75% {font-size: 14px}
    85% {font-size: 17px}
    100% {font-size: 16px}
}
.checkbox{
    height: 40px;
}
.my-link{
    color: #000;
    transition: 0.5s;
    font-size: 14px;
}
.my-link:hover{
    text-decoration: none;
    color: var(--main-text-color);
}
.invalid>input{
    border-bottom: 1px solid var(--main-validation-color) !important;
}
.invalid>span{
    color:var(--main-validation-color)!important;
    animation-name: invalid;
    animation-delay: 0.5s;
    animation-duration: 0.3s;
}
.invalid>input[type="date"]{
    color:var(--main-validation-color);
}
.invalid select{
    color:var(--main-validation-color);
}
@keyframes invalid{
    30%{
        margin-left: 7px;
    }
    60%{
        margin-left: 0;
        margin-right: 7px;
    }
    80%{
        margin-right: 0;
        margin-left: 5px;
    }
    90%{
        margin-left: 0;
        margin-right: 3px;
    }
    100%{
        margin-left: 0;
        margin-right: 0;
    }
}
.my-form{
    overflow: hidden !important;
}
.my-container{
    top: 0;
    left: 0;
}
.box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.text-teal{
    color:teal;
}
.material-button{
    background-color: #fff;
    border: 1px solid var(--main-background-color);
    color: var(--main-text-color);
    cursor: pointer;
    transition: .3s;
}
.biography{
    min-height: 15vh!important;
}
@media screen and (max-width: 768px) {
    .biography{
        min-height: 0!important;
    }
}
.circle-date{
    width: var(--main-circle-radius);
    height: var(--main-circle-radius);
    border-radius: 50%;
    border: 3px solid #28b0ff;
    margin:0 auto;
    transition:.3s;
}
.circle-date:hover, .material-button:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a:hover{
    text-decoration: none!important;
}
.link:hover{
    color: var(--main-text-color);
}
.btn-chosen{
    background-color: var(--main-background-color);
    color: white;
}
.search-drop{
    z-index:1;
    background-color: rgb(241, 241, 241);
}
.profile-picture{
    width: 35px;
}
.logo-image{
    width: 90px;
}
.user-attributes{
    display: none;
    left: -10px;
    width: 110px;
    z-index: 1;
}
.cursor-pointer{
    cursor: pointer;
}
.profile:hover .user-attributes{
    display: block;
}
.navbar-dropdown{
    color:black;
}
.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color:#fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.lds-dual-ring-button {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 15px;
}
.lds-dual-ring-button:after {
    content: " ";
    display: block;
    width: 15px;
    height: 15px;
    margin: 1px;
    border-radius: 50%;
    border: 1px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
.birthday span.invalid{
    margin-top: 10px;
}
.flags{
    min-width: 20px;
}
.delete-link{
    bottom: 30px;
    right: 30px;
}