
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@import "~@fortawesome/fontawesome-free/css/all.css";
// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "../css/styles.css";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
